<h1 class="mobile-h1">
  <p>elle special offer</p>
</h1>
<div class="left-content left image">
  <%= image_tag("sean_donaldson_hair_award_winning_salon_in_miami_beach.jpg") %>
</div>
<div class="right-content right services">
  <h2 class="center">
    
  </h2>
  <p class="center">Thank you for sending us your name, we now have it on our records and we are waiting for you to setup your first appointment.</p>

  <p class="center">
    Please call.
  </p>
  <br>
  <h1 class="center">305 397 8460</h1>
  <br>
  <p class="center">
    To setup your appointment. 
  </p>
  <h6 class="center">
    Please note, that this offer is for select stylists only, and new clients.
  </h6>
</div>