<h1 class="mobile-h1">
  <p>elle special offer</p>
</h1>
<div class="left-content left image">
  <%= image_tag("sean_donaldson_hair_award_winning_salon.jpg") %>
</div>
<div class="right-content right services">

  <h3 class="center">
    Sean Donaldson Hair is proud to be recognized by
  </h3>
  <p class="center">
    <%= image_tag("elle_best_miami_salon.jpg") %>
  </p>
  <h2 class="center">as one of ELLE's 100 Top Salons.</h2>

  <%= render "contact" %>
  </div>
</div>