<%= render 'layouts/slider' %>
<div class="mobile main-text">
  <p>
    A beauty destination in South Florida, the award winning salon Sean Donaldson Hair combines the service and technical expertise of a bespoke European hair salon with the finest in contemporary design and an exacting service offering.
  </p>
  <div class="mobile">
    <p class="center">
      <b>hours of operation</b>
    </p>
  <ul class="width-fifty center">
    <li>
      sunday
    </li>
    <li>
      monday
    </li>
    <li>
      tuesday
    </li>
    <li>
      wednesday
    </li>
    <li>
      thursday
    </li>
    <li>
      friday
    </li>
    <li>
      saturday
    </li>
  </ul>
  <ul class="width-forty">
    <li>
      11 - 6
    </li>
    <li>
      10 - 7
    </li>
    <li>
      9 - 9
    </li>
    <li>
      9 - 9
    </li>
    <li>
      9 - 9
    </li>
    <li>
      9 - 9
    </li>
    <li>
      9 - 9
    </li>
  </ul>
</div>
    <p class="center clear">
      SEAN DONALDSON HAIR<br>
      1674 MERIDIAN AVE<br>
      MIAMI BEACH, FL 33139<br>
      305 397 8460
    </p>
</div>