// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  
@media screen and (min-width: 500px) {

  .name {
    border-bottom: 1px solid #ccc;
    padding-bottom:5px;
    margin-bottom: 5px;
  }

  .left {
    float:left;
  }

  .image {
    width:387px;
  }

  .section  {
    height: 145px;
  }

  .services {
    width: 547px;
    text-align: justify;
    line-height: 1.2em;
    font-size: 1em;
    letter-spacing: 1px;    
  }

  .courses {
    width: 48%;
    display: block;
    text-align:left;
    background-color:black;
    color:white;
    line-height:2em;
    margin-bottom: 20px;
    h1,h2,h3 {
      padding: 0 20px;
    }
    h1, h2 {
      color: #FF6633;
    }

    p {
      padding:0 30px;
      font-size:0.9em;
    }
  }

  .courses_content_indepth {
    height: 135px;
    padding-bottom: 10px;
  }
  .right {
    float:right;

    table {
      margin:20px auto 30px auto; 
      text-align:left;
      width:60%;
      font-size:0.95em;  
    }

    table td {
      padding:8px 0;
      width: 65%;
    }

    .price {
      text-align:right;
      width:50%;
    }
  }

  .first {
    margin-top:0px;
  }

  .spa_no_show {
    display: none;
  }

  .service_first, .service_middle, .service_last {
  float:left;
  width:25%;
  margin:30px 0;
  font-size: 0.9em;

  }

  .service_last {
    border-collapse:collapse;
    float:right;
    width:25%;
  }

  .service_first, .service_middle {
    margin-right:110px;
  }
  .service_name {
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    
  }


  .service_first td.name, .service_middle td.name, .service_last td.name,.service_first td.price, .service_middle td.price , .service_last td.price {
    padding:10px 0;
    font-size:1em;
    color:#666;
  }

  .service_first td.name, .service_middle td.name, .service_last td.name {
    width:40%;
  }

  .service_first td.price, .service_middle td.price , .service_last td.price {
    text-align:right;
    width:30%;
  }

  .mobile-edit {
    img {
      margin: 10px 25px;
    }
  }

}

@media screen and (max-width: 490px) {

  a {
    color: black
  }
  body {
    width: 100%;
  }

  .services-wrapper {
    overflow: hidden;
    padding-bottom: 90px;
  }

  .service_first, .service_middle, .service_last {
    margin-bottom: 30px;
  }
  table {
    margin:0 auto;
    width: 100%;

    td {
      font-size: 0.9em;
      text-align: left;
      margin:0 auto;
      padding: 5px;
    }
  }
  .main-text {
    background-color: none;
  }
  
  .left {
    background-color: white;
    overflow: hidden;
    text-align: center;

    img {
      max-width: 100%;
    }

    p {
      margin:0;
    }

    ul {
      margin-top:0;
      margin-bottom: 0;
    }

  }

  .box {
    background-color: white;
    overflow: hidden;
    text-align: center;
    img {
    border: 2px solid black;
    max-width: 50%;
    }

    h1 {
      font-size: 1em;
    }
  }

  .bio-image {
    img {
      border: 2px solid black;
    }
  }

  .right {
    text-align: center;
    padding:10px;
    padding-top:0;
    padding-bottom: 90px;
    background-color: white;
    margin-top:0;
    overflow: hidden;
    height: 100%;
  }

  .service_name {
    font-size: 1.3em;
  }

  .nameservice {
    text-align: left;
    width: 50%;
  }

  .price {
    text-align: right;
    width: 35%;
  }

  .mobile-h1 {
    margin-top:60px;
    margin-bottom: 0;
    padding: 10px 0;
    width: 100%;
    background-color: white;
    text-align: center;
    p {
      margin:10px 0;
    }
    }
  .mobile-edit {
    background-color: white;
    overflow: hidden;
    padding-bottom: 90px;
    opacity: 0.9;
    z-index: 1;
  }
}