<div itemscope itemtype="http://schema.org/BeautySalon" class="footer-menu-left desktop">
  <ul>
    <li>
      <b itemprop="name">
        sean donaldson hair
      </b>
    </li>
    <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">
        1674 meridian ave
      </span><br>
      <span itemprop="addressLocality">
        miami beach
      </span>,
      <span itemprop="addressRegion">
        FL -
      </span>
      <span itemprop="postalCode">
        33139
      </span> 
      </li>
      <li>
        <span itemprop="telephone">
          305 619 3724
        </span>
      </li>
  </ul>
</div>