<li class="last">
  <%= link_to("media and press", "/services/media-and-press") %>
</li>
<li>
  <%= link_to("education", '/services/education-courses') %>
</li>
<li class="first">
  <%= link_to("models wanted", "/services/models-wanted") %>
</li>