<div class="menu-button one-page">
  <h2>
    seandonaldson<span class="hair">hair</span>
  </h2>
</div>
<nav>
  <ul class="flexnav one-page" data-breakpoint="800">
    <%= render 'layouts/navTopLinks' %>
  </ul>
</nav>
<script>
    $(".flexnav").flexNav();
</script>
