<div itemscope itemtype="http://schema.org/OpeningHoursSpecification" class="footer-menu-left desktop">
  <ul>
    <li><b>hours of operation</b></li>
    <li>
      <span itemprop="dayOfWeek">sunday</span>
      <time itemprop="opens" datetime="11:00">11</time> - 
      <time itemprop="closes" datetime="18:00">6</time>
    </li>
    <li>
      <span itemprop="dayOfWeek">monday</span>
      <time itemprop="opens" datetime="10:00">10</time> - 
      <time itemprop="closes" datetime="19:00">7</time>
    </li>
    <li>
      <span itemprop="dayOfWeek">tuesday</span>
      <time itemprop="opens" datetime="09:00">9</time> - 
      <time itemprop="closes" datetime="21:00">9</time>
    </li>
    <li>
      <span itemprop="dayOfWeek">wednesday</span>
      <time itemprop="opens" datetime="09:00">9</time> - 
      <time itemprop="closes" datetime="21:00">9</time>
    </li>
    <li>
      <span itemprop="dayOfWeek">thursday</span>
      <time itemprop="opens" datetime="09:00">9</time> - 
      <time itemprop="closes" datetime="21:00">9</time>
    </li>
    <li>
      <span itemprop="dayOfWeek">friday</span>
      <time itemprop="opens" datetime="09:00">9</time> - 
      <time itemprop="closes" datetime="21:00">9</time>
    </li>
    <li>
      <span itemprop="dayOfWeek">saturday</span>
      <time itemprop="opens" datetime="09:00">9</time> - 
      <time itemprop="closes" datetime="21:00">9</time>
    </li>
  </ul>
</div>